body {
  background: cornflowerblue; 
}

.view {
  position: relative;
}

.sprite {
  width: 70px;
  height: 70px;
  position: absolute;
  cursor: pointer
}

.debug {
  position: absolute;
  top: 5;
  left: 5;
}

.stats {
  font-size: 20px;
  text-align: center;
}

.flipYAxis { 
  transform: scale(-1, 1);
}

.flipXAxis {
  transform: scale(1, -1);
}

.flit-40{
  transform-origin: 50% 50%;
  transform: rotate(-40deg);
}

.peck {
  transform-origin: 50% 50%;
  transform: rotate(90deg);
}

.hide {
  display: none;
}

.crown {
  animation-name: glow;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

@keyframes glow {
  0%, 100% {
    fill: orange;
  }

  50% {
    fill: yellow;
  }
}